.box {
  width: 200px;
  padding: 50px;
  border: 50px solid #e74c3c;
  margin-top: 20px;
}
.green {
  border-color: #27ae60;
  /* visibility: hidden; */
  /* display: none; */
}

.blue {
  border-color: #2980b9;
}
